.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ltgrey);
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: var(--dkgrey);
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body::before {
    background-image: url("https://qph.fs.quoracdn.net/main-qimg-966aebf046a0feb7ea02a40ba5f3e941");
    filter: grayscale(0.7);
    opacity: 0.25;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chat__body {
    position: relative;
    flex: 1;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: var(--btwhite);
    margin-bottom: 30px;
    color: var(--chatnames);
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat__receiver {
    background-color: var(--chatgreen);
    margin-left: auto;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid var(--ltgrey);
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer input {
    border-radius: 30px;
    padding: 10px;
    border: none;
    flex: 1;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: var(--mdgrey);
}