:root {
    --btwhite: #fff;
    --white: #ededed;
    --ltgrey: #f6f6f6;
    --mdgrey: #dadbd3;
    --dkgrey: #989898;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    place-items: center;
    background-color: var(--grey);
    height: 100vh;
}

.app__body {
    display: flex;
    background-color: var(--white);
    height: 90vh;
    width: 90vh;
    margin-top: -50px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
}

